.DS_Store
node_modules/
*.tsbuildinfo

# React Router
/.react-router/

# output
build/
dist/

# Cloudflare
.mf
.wrangler
.dev.vars*

.archive

# Change them to your taste:
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

public/json
public/static/_media
public/static/embed
public/static/sound

src/data/import

.env.local
.env.*.local

vite.config.ts.timestamp-*