// size
:root {
  --ct-width: 128rem;
  body {
    max-width: var(--ct-width);
    margin: auto;
  }
}

// color
:root {
  --main-color: #bed440;
  --main-color-highlight: #d1de43;
  --main-color-soft: #ccdb74;
  --main-color-pale: #dfec98;
  --main-color-fluo: #c5d85840;
  --main-color-pale-fluo: #dfec9840;
  --main-color-strong: #aec52f;
  --main-color-deep: #9fb427;
  --main-color-dark: #8c9f20;
  --main-color-text: #31332b;
  --main-color-grayish-fluo: rgba(146, 147, 127, 0.15);
  --main-color-dark-grayish: #525348;
  --main-color-grayish: #6d6e5e;
  --main-color-light-grayish: #a9a99f;
  --main-color-pale-grayish: #bbbcaf;
  --sub-color: #b99f72;
  --sub-color-soft: #d8bb8a;
  --sub-color-strong: #96815c;
  --text-color: #27231d;
  --dark-text-color: white;
  --background-color: #fdfde4;
  --play-background-color: #ecfffe;
  --dark-background-color: hsl(80, 10%, 14%);
  --dark-play-background-color: hsl(0, 0%, 18%);
  --warm-color: #f87171;
  --warm-color-hover: #fa5757;
  --lightbox-background: rgba(0, 0, 0, 0.3);
  --lightbox-background-preview: rgba(146, 147, 127, 0.8);
  --lightbox-background-text: rgb(246, 246, 243);
  --light-form-background-color: white;
  --dark-form-background-color: var(--dark-background-color);
}

:root.theme-orange {
  --main-color: #ecae75;
  --main-color-highlight: #efba79;
  --main-color-soft: #fac798;
  --main-color-pale: #ffd8a2;
  --main-color-fluo: #f8b06d40;
  --main-color-pale-fluo: #fde5c440;
  --main-color-strong: #d88b44;
  --main-color-deep: #b56316;
  --main-color-dark: #a55a14;
  --main-color-text: #2f2b27;
  --text-color: #27231d;
  --background-color: #fff8e3;
  --play-background-color: #fffbdf;
  --dark-background-color: hsl(45, 10%, 14%);
}

:root.theme-aqua {
  --main-color: #53c3dd;
  --main-color-highlight: #59d6e4;
  --main-color-soft: #6ed5ed;
  --main-color-pale: #a9e9f7;
  --main-color-fluo: #47b7d040;
  --main-color-pale-fluo: #a9e9f740;
  --main-color-strong: #43beda;
  --main-color-deep: #32b2ce;
  --main-color-dark: #2ea3be;
  --main-color-text: #2e3638;
  --text-color: #1d2227;
  --background-color: #e5fcf6;
  --play-background-color: #d9f8f6;
  --dark-background-color: hsl(150, 10%, 10%);
}

// dark mode
%lightMode {
  --current-text-color: var(--text-color);
  --background: var(--background-color);
  --background-bw: white;
  --form-background-color: var(--light-form-background-color);
}
@mixin darkMode() {
  --current-text-color: var(--dark-text-color);
  --main-color-pale: var(--main-color-dark);
  --main-color-soft: var(--main-color-deep);
  --main-color-pale-grayish: var(--main-color-dark-grayish);
  --background: var(--dark-background-color);
  --background-bw: black;
  --lightbox-background-text: var(--dark-background-color);
  --play-background-color: var(--dark-play-background-color);
  --form-background-color: var(--dark-form-background-color);
}

@mixin CursorKeyflame($name, $url_or_time, $urls...) {
  $max: length($urls);
  $keyname: cursor-#{$name};
  @if $max > 0 {
    @keyframes #{$keyname} {
      $i: 0;
      @each $url in $urls {
        $p: (100 * calc($i / $max)) + "%";
        $i: $i + 1;
        #{$p} {
          cursor: url(#{$url}), #{$name};
        }
      }
    }
    %#{$keyname} {
      animation: #{$keyname} #{$url_or_time} step-end infinite;
    }
  } @else {
    %#{$keyname} {
      cursor: url(#{$url_or_time}), #{$name};
    }
  }
  .#{$keyname} {
    @extend %#{$keyname};
  }
}

@include CursorKeyflame(
  "default",
  "/static/images/cursor/わたかぜくんカーソル_通常_00.cur"
);
@include CursorKeyflame(
  "pointer",
  1000ms,
  "/static/images/cursor/わたかぜくんカーソル_ポインター_00.cur",
  "/static/images/cursor/わたかぜくんカーソル_ポインター_01.cur"
);
@include CursorKeyflame(
  "move",
  1000ms,
  "/static/images/cursor/わたかぜくんカーソル_移動_00.cur",
  "/static/images/cursor/わたかぜくんカーソル_移動_01.cur"
);
@include CursorKeyflame(
  "backgorund",
  1000ms,
  "/static/images/cursor/わたかぜくんカーソル_バックグラウンド_00.cur",
  "/static/images/cursor/わたかぜくんカーソル_バックグラウンド_01.cur"
);
@include CursorKeyflame(
  "progress",
  1000ms,
  "/static/images/cursor/わたかぜくんカーソル_バックグラウンド_00.cur",
  "/static/images/cursor/わたかぜくんカーソル_バックグラウンド_01.cur"
);
@include CursorKeyflame(
  "wait",
  2000ms,
  "/static/images/cursor/わたかぜくんカーソル_待機_00.cur",
  "/static/images/cursor/わたかぜくんカーソル_待機_01.cur",
  "/static/images/cursor/わたかぜくんカーソル_待機_02.cur",
  "/static/images/cursor/わたかぜくんカーソル_待機_03.cur"
);
@include CursorKeyflame(
  "not-allowed",
  1000ms,
  "/static/images/cursor/わたかぜくんカーソル_禁止_00.cur",
  "/static/images/cursor/わたかぜくんカーソル_禁止_01.cur"
);
@include CursorKeyflame(
  "text",
  "/static/images/cursor/わたかぜくんカーソル_テキスト選択_00.cur"
);
a,
.pointer,
.readmore,
select,
input[type="checkbox"] {
  @extend %cursor-pointer;
}
input,
textarea,
[editable] {
  @extend %cursor-text;
}

:root {
  @extend %cursor-default;
  color: var(--current-text-color);
  @extend %lightMode;
  &.dark {
    @include darkMode();
  }
  @media (prefers-color-scheme: dark) {
    &.auto {
      @include darkMode();
    }
  }
}
:root,
.headerBackground,
.InPageMenu .background {
  transition: background-color 1s;
}
:root.audio_play {
  &,
  .headerBackground,
  .InPageMenu .background {
    background-color: var(--play-background-color);
  }
}
// .bg-background,
// .bg-background-bottom,
// :root {
//   transition: background-color 1s;
// }

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lexend+Peta:wght@100..900&family=Palanquin+Dark:wght@400;500;600;700&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

// 100-700
@mixin Palanquin($weight: 400) {
  font-family: "Palanquin", sans-serif;
  font-weight: $weight;
  font-style: normal;
}

// 400-700
@mixin PalanquinDark($weight: 400) {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: $weight;
  font-style: normal;
}

// 100-900
@mixin LexendPeta($weight: 400) {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

:root {
  font-family: "Palanquin", "Kosugi Maru", sans-serif;
}

.en-title-font {
  @include LexendPeta(700);
  letter-spacing: normal;
}

$tabletWidth: 768px;
$desktopWidth: 1280px;

* {
  line-height: 1.25em;
  -webkit-tap-highlight-color: var(--main-color-fluo);
  ::selection {
    background-color: var(--main-color-soft);
    color: white;
  }
}

@mixin ColorSetter($className, $color, $bg-inner: white) {
  .#{$className} {
    color: #{$color};
  }
  .#{$className}-bg {
    color: #{$bg-inner};
    background-color: #{$color};
  }
}

@include ColorSetter("color-main", var(--main-color));
@include ColorSetter("color-warm", var(--warm-color));
@include ColorSetter("color-gray", var(--main-color-light-grayish));

.pixel,
img[src*=".gif"],
img[data-origin-ext="gif"] {
  image-rendering: pixelated;
}

style {
  display: none !important;
}

[disabled] {
  pointer-events: none;
}

.flex {
  display: flex;
  &.center,
  &.justify-center {
    justify-content: center;
  }
  &.center,
  &.items-center {
    align-items: center;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.large {
    font-size: 1.5rem;
    > * {
      margin: 0.5rem;
    }
  }
}
.flex-1 {
  flex: 1;
}
ul.flex {
  padding: 0;
}

label {
  span {
    display: inline-block;
  }
}

%userSelectNone {
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow-y: scroll;
  &.loading {
    overflow-y: hidden;
    &.dummy {
      min-height: 5000rem;
    }
  }
}

.fixed {
  position: fixed;
  z-index: 30;
  &.rightBottom {
    right: 0;
    bottom: 0;
    pointer-events: none;
    input {
      font-size: 1rem;
    }
    > * {
      &:not(.list) {
        pointer-events: auto;
      }
      &.list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0.5rem;
        margin-left: 10rem;
        > * {
          &:not(.list) {
            pointer-events: auto;
          }
          &.list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            > * {
              pointer-events: auto;
            }
          }
        }
      }
    }
    .paging {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      input {
        margin: 1rem 0.25rem;
        width: 3.5rem;
        padding: 0.25rem 0.5rem;
      }
      button {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
    .search {
      margin: 1rem 0.5rem;
      input {
        width: 10rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}

%a-line-none {
  a {
    text-decoration-line: none;
  }
}

:root {
  background-color: var(--background);
  scrollbar-width: thin;
  &,
  * {
    scrollbar-color: var(--main-color-soft) transparent;
  }
  &.scrollLock {
    scrollbar-color: var(--main-color-pale-grayish) transparent;
  }
  .window {
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-width: thin;
  }
}

svg.stock {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: -999;
}

button,
.button {
  @extend %cursor-pointer;
  @extend %userSelectNone;
  border: 0;
  outline: none;
  font-weight: 700;
  &.color {
    color: white;
    background-color: var(--main-color);
    &:hover {
      color: white;
      background-color: var(--main-color-soft);
    }
    &:focus {
      color: white;
      background-color: var(--main-color-strong);
    }
    &:disabled {
      background-color: var(--main-color-soft);
    }
  }
  &.round {
    padding: 0;
    margin: 0.125rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    &[disabled] {
      opacity: 0.6;
    }
    svg,
    .svg {
      fill: white;
      width: 1.75rem;
      height: 1.75rem;
    }
  }
  &.warm {
    color: white;
    background-color: var(--warm-color);
    &:hover {
      background-color: var(--warm-color-hover);
    }
  }
  @media (min-width: $tabletWidth) {
    &.round {
      margin: 0.25rem;
      width: 3rem;
      height: 3rem;
      svg,
      .svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

a {
  word-break: break-all;
  color: var(--main-color-strong);
  &:hover {
    color: var(--main-color);
    &.external::after {
      background-color: var(--main-color);
    }
  }
  &.roundLink {
    color: white;
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    background-color: var(--main-color);
    &.external::after {
      background-color: white;
    }
    &:hover {
      background-color: var(--main-color-soft);
    }
  }
  &.external::after {
    $externalUrl: url("/static/images/svg/external.svg");
    display: inline-block;
    margin-left: 0.2em;
    content: "";
    width: 1em;
    height: 1em;
    -webkit-mask-image: $externalUrl;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: $externalUrl;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--main-color-strong);
    font-size: 90%;
  }
}

[hidden],
.hidden {
  display: none !important;
  border: none !important;
}

.ml {
  margin-left: 1rem;
}
.mr {
  margin-right: 1rem;
}
.mt {
  margin-top: 1rem;
}
.mb {
  margin-bottom: 1rem;
}

.emoji {
  min-width: 1em;
  height: 1em;
  vertical-align: baseline;
  display: inline-block;
  margin: 0;
}

img {
  object-fit: cover;
  height: auto;
}

a.overlay {
  transition: filter 100ms;
  &:hover {
    filter: brightness(0.9);
  }
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

.common-h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
  @media (min-width: $tabletWidth) {
    font-size: 2.25rem;
  }
}

.switch-img {
  position: relative;
  img:not(.normal) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &:hover {
    img {
      &.normal {
        opacity: 0;
      }
      &.hover {
        opacity: 1;
      }
    }
  }
}

.dropzone {
  &.blank {
    background-color: var(--main-color-grayish-fluo);
  }
  &.isDrag {
    background-color: var(--main-color-pale-fluo);
  }
}

.wh-fill,
.wh-all-fill,
.wh-all-fill * {
  width: 100%;
  height: 100%;
}

.rbButtonArea {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: flex-end;
  &.z30 {
    z-index: 30;
  }
  button.round,
  .button.round {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.dropdown {
  position: relative;
  > button,
  > .button {
    padding: 0.25em 0.5em;
  }
  .list {
    position: absolute;
    z-index: 100;
    text-align: left;
    width: max-content;
    background-color: var(--form-background-color);
    &.right {
      right: 0;
    }
    &:not(.right) {
      left: 0;
    }
    :focus {
      outline: none;
      background-color: var(--main-color);
    }
    .item,
    [tabindex] {
      @extend %cursor-pointer;
      padding: 0.25em 0.75em;
      color: var(--current-text-color);
      background-color: var(--background-bw);
      &:hover {
        background-color: var(--main-color);
      }
    }
  }
  .menu > * {
    display: flex;
  }
  &.flex {
    display: flex;
    pointer-events: none;
    :not(div) {
      pointer-events: all;
    }
    .list {
      position: inherit;
    }
    &.on {
      flex-direction: column-reverse;
    }
    &.right {
      align-items: flex-end;
    }
    &.row {
      > * {
        display: flex;
      }
      &.right .menu {
        flex-direction: row-reverse;
      }
    }
    &.transparent .list {
      background-color: transparent;
    }
  }
}

input.colorChanger.withDropdown {
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

details {
  position: relative;
  > summary {
    display: list-item;
    padding: 0.4em 1em;
    @extend %cursor-pointer;
    color: white;
    background-color: var(--main-color);
    font-weight: 700;
    border: 0;
    outline: none;
    border-radius: 0.5em;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: 20em;
    max-width: 80%;
    margin: 0.5em;
    padding-left: 1.2em;
    line-height: 1.5em;
    @extend %userSelectNone;
  }
  > button.close {
    font-size: 0.7em;
    width: 28em;
    max-width: 85%;
    line-height: 2em;
    border-radius: 0.5em;
    margin: 0.5em auto 0.5em 0.5em;
    background-color: var(--main-color-grayish);
    &:hover {
      background-color: var(--main-color-pale-grayish);
    }
  }
  details {
    margin-left: 1em;
  }
}

code {
  display: inline-block;
  background-color: var(--main-color-dark-grayish);
  color: white;
  border-radius: 16px;
  padding: 1em 1em;
  max-width: 92vw;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 99%;
  min-width: unset;
  &.hljs {
    .hljs-string {
      color: var(--main-color-strong);
    }
    .hljs-comment {
      color: var(--main-color-light-grayish);
    }
    .hljs-title,
    .hljs-keyword {
      color: var(--main-color);
    }
    .hljs-selector-class {
      color: var(--sub-color-soft);
    }
    .hljs-variable,
    .hljs-number {
      color: var(--main-color-highlight);
    }
    .hljs-selector-pseudo {
      color: var(--main-color-soft);
    }
    &.language-css,
    &.language-scss {
      .hljs-attribute {
        color: var(--sub-color-soft);
      }
    }
  }
}

.InPageMenu {
  position: fixed;
  z-index: 25;
  right: 0;
  bottom: 0;
  margin-bottom: 0.5rem;
  padding-right: 0.25rem;
  .item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0.25rem;
    min-width: 8rem;
    font-size: 1em;
    text-align: left;
    font-weight: 900;
    color: var(--main-color-soft);
    &:hover {
      color: var(--main-color);
    }
    &.current {
      color: var(--main-color-strong);
      &:hover {
        color: var(--main-color-deep);
      }
    }
    .cursor {
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.5rem;
      svg {
        margin: auto;
        fill: var(--main-color);
        height: 100%;
      }
    }
    .name {
      flex: 1;
      & > span {
        margin-right: 0.5rem;
      }
    }
    @media (min-width: $tabletWidth) {
      min-width: 11rem;
      font-size: 1.25rem;
      .cursor {
        height: 1rem;
      }
    }
  }
  .background {
    background-color: var(--background);
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    @media (min-width: 1800px) {
      display: none;
    }
  }
}

body {
  .loadingWindow {
    display: none;
  }
  &.loading .loadingWindow {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: var(--ct-width);
    height: 100vh;
    background-color: var(--background);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
    .loadingNow {
      color: var(--main-color);
      font-size: 1.5rem;
    }
    img {
      margin: 1rem;
      width: auto;
      height: 128px;
    }
  }
}

.content-base {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  text-align: center;
  .content-parent {
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
    min-height: 50vh;
    > *:not(.wide) {
      max-width: 1160px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  max-width: var(--ct-width);
  z-index: 30;
  > *:not(.list) {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .backButton,
  .siteMenu {
    margin: auto;
    width: 3.25rem;
  }
  .backButton {
    svg {
      height: 2rem;
      width: 2rem;
    }
    a {
      @extend %userSelectNone;
      color: var(--main-color-soft);
      &:hover {
        color: var(--main-color-pale);
      }
    }
  }
  .title-container {
    flex: 1;
    @extend %a-line-none;
    h2 {
      margin: 0;
      display: flex;
    }
    img {
      height: 2.5rem;
    }
    #siteTitle {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: var(--main-color);
    }
  }
  .siteMenu {
    .button {
      width: 3.25rem;
      height: 3.25rem;
      display: block;
      fill: var(--main-color);
      background-color: var(--main-color);
      @extend %userSelectNone;
      &:hover {
        fill: var(--main-color-soft);
      }
      &:focus {
        fill: var(--main-color-strong);
        outline: none;
      }
    }
    .list {
      margin-top: 0.125rem;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      @extend %userSelectNone;
      .item {
        font-size: 1.25rem;
        min-width: 12rem;
        padding: 0.5rem 1rem;
        color: var(--main-color-strong);
        &:hover,
        &:focus {
          color: white;
          background-color: var(--main-color-soft);
          outline: none;
        }
      }
      .theme {
        display: flex;
        .item {
          height: 2.25rem;
          padding: 0;
          min-width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: auto;
            height: 1.5rem;
          }
        }
      }
      @extend %a-line-none;
    }
  }
  .headerBackground {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    opacity: 0.9;
    z-index: -10;
  }
}

footer {
  margin-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  .copyright {
    font-family: "Mandali";
  }
  ul.footerLink {
    padding: 1rem 0;
    margin: auto;
    li {
      display: inline-block;
      margin: 0 0.25rem;
      a {
        .mask {
          width: 2rem;
          height: 2rem;
          background-color: var(--main-color);
        }
        &:hover .mask {
          background-color: var(--main-color-soft);
        }
      }
    }
  }
}

@media (min-width: $tabletWidth) {
  header {
    height: 4rem;
    .title-container {
      img {
        height: 2.75rem;
      }
    }
    .backButton,
    .siteMenu {
      margin: auto 0.25rem;
      width: 3.5rem;
    }
    .siteMenu {
      .button {
        width: 3.5rem;
        height: 3.5rem;
      }
      .list {
        margin-top: 0.25rem;
      }
    }
  }
  .content-base {
    padding-top: 4rem;
  }
}

.topPage {
  font-size: 2em;
  margin: 1.5rem auto;
  .topImageArea {
    height: 48rem;
    min-height: 30rem;
    max-height: 70vh;
    display: flex;
    position: relative;
    & > * {
      width: 100%;
      height: 100%;
    }
    img {
      position: absolute;
    }
    & > div {
      background-color: var(--main-color-grayish-fluo);
    }
  }
  h1 {
    font-size: 0.9em;
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @extend %a-line-none;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    li {
      margin: 0.25rem;
      display: inline;
      img {
        width: 10rem;
        &.banner {
          width: 14rem;
        }
        @media (min-width: $tabletWidth) {
          width: 14rem;
          &.banner {
            width: 24rem;
          }
        }
      }
    }
  }
  ul li,
  h3 {
    a {
      color: var(--main-color);
      &:hover {
        color: var(--main-color-soft);
      }
    }
  }
  @media (min-width: $desktopWidth) {
    ul {
      flex-direction: row;
    }
  }
  .blog {
    max-width: 90rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    h3 {
      margin: 0;
      font-size: 1.75rem;
      line-height: 2rem;
      margin: 0.5rem;
    }
    & > .list {
      flex: 1 1 0%;
      font-size: 1.25rem;
      line-height: 1.75rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      max-width: 32rem;
      height: 8rem;
      .article {
        margin: 0.25rem 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .date {
          margin-right: 0.5rem;
          min-width: 5em;
          text-align: right;
        }
        .title {
          margin-right: 0.5rem;
          text-align: left;
          flex: 1;
        }
      }
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      & > .title {
        margin: 0 0.5rem;
      }
      & > .list {
        margin: 0;
        flex-direction: row;
        max-width: max-content;
        height: auto;
      }
    }
  }
}

.HomeImage {
  height: 48rem;
  // min-width: 30rem;
  max-height: 70vh;
  .wrapper {
    height: 100%;
    position: relative;
    .image {
      width: 100%;
      height: 100%;
      left: 0;
      position: absolute;
      transition: opacity 750ms;
      &.appear {
        opacity: 1;
      }
      &.exit-active {
        opacity: 0;
      }
    }
  }
  .dummy {
    height: 100%;
    background-color: var(--main-color-grayish-fluo);
  }
}

.react-comic-viewer {
  max-width: none !important;
  // max-height: 40dvh;
  @extend %userSelectNone;
  &.loading div[direction] {
    display: none;
  }
  button {
    color: lightgray;
    background-color: transparent;
    display: inherit;
    &:hover {
      color: lightgray;
      background-color: var(--main-color-fluo);
    }
  }
}

input:not(:disabled):hover {
  border-color: var(--main-color);
}

input,
textarea,
.preview-area,
select {
  border: solid 1px var(--main-color-deep);
  border-radius: 0.5em;
  box-sizing: border-box;
}

form {
  button,
  .button {
    border-radius: 0.5rem;
    &.squared {
      border-radius: 0;
    }
  }
  select {
    padding: 0.25rem;
  }
}

*:focus-visible {
  outline: solid 1px var(--main-color-dark);
}

.parsed {
  &.blog > * {
    margin: 1.5rem auto;
  }
  p {
    white-space: pre-line;
  }
  h4 {
    color: var(--main-color-dark);
  }
  img {
    max-width: 100%;
  }
}

.preview-area .parsed p:first-child {
  margin-top: 0;
}

.charaIcon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  font-size: 1.875rem;
  margin-right: 0.25rem;
}

@mixin commonHeader() {
  .header {
    justify-content: flex-end;
    &,
    & > .flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0.25rem;
      & > *,
      .icons > * {
        margin: 0.25rem;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      button {
        padding: 0;
        background-color: transparent;
        color: var(--main-color);
      }
      svg {
        font-size: 1.25rem;
      }
    }
    .search {
      font-size: 1rem;
      width: 16rem;
      padding: 0.375rem 0.5rem;
    }
    .tagSelect {
      min-width: 20rem;
    }
    .characterSelect {
      min-width: 16rem;
    }
    .tagSelect,
    .characterSelect {
      text-align: left;
      > div:first-of-type {
        @extend %cursor-pointer;
      }
    }
  }
}

// ループ用のグリッドレイアウト関数、列数のみのシンプルな形
@mixin GridListOneSize($grid) {
  // 基本の形、2倍の分割数にすることで半分ずらしに対応できる
  grid-template-columns: repeat($grid * 2, 1fr);
  > * {
    grid-column: span 2;
  }
  // 要素数が1つのみの場合、中央にくる形になる
  @if $grid > 0 {
    & > *:only-child {
      grid-column: $grid / span 2;
    }
  }
  // 要素数が2つ以上の場合、要素数未満の場合のみループ処理で中央に揃う
  .item:first-child {
    @for $i from 2 to $grid {
      &:nth-last-child(#{$i}) {
        $base: $grid + 1 - $i;
        & {
          grid-column: $base / span 2;
        }
        @for $j from 2 through $i {
          ~ *:nth-of-type(#{$j}) {
            grid-column: #{$base + ($j - 1) * 2} / span 2;
          }
        }
      }
    }
  }
}

// 最初の引数は列数、それ以降は列数を増やす横幅を任意の数指定できる
@mixin GridList($baseGrid, $media_width...) {
  display: grid;
  @include GridListOneSize($baseGrid);
  $i: 0;
  @each $url in $media_width {
    $i: $i + 1;
    @media (min-width: #{$url}) {
      @include GridListOneSize($baseGrid + $i);
    }
  }
}

.characterPage {
  max-width: 1400px;
  @include commonHeader();
  .charaList {
    @include GridList(2, $tabletWidth, $desktopWidth);
    margin: 0 auto;
    width: 95%;
    .item {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      text-decoration-line: none;
      color: var(--main-color);
      padding: 1rem;
      .inner {
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          // display: block;
          // margin: auto;
          // max-width: 95%;
          // width: 100%;
          // border: dashed 1px silver;
          &.noimage {
            background-color: var(--main-color-pale-grayish);
          }
        }
        &::before {
          content: "";
          padding-top: 100%;
          display: block;
        }
      }
      &:hover {
        background-color: var(--main-color-pale-fluo);
        color: var(--main-color-deep);
      }
      .name {
        text-align: center;
        display: block;
        margin: 0.5rem auto;
        max-width: 90%;
      }
    }
    @media (min-width: $tabletWidth) {
      .item {
        font-size: 1.5rem;
      }
    }
    @media (min-width: $desktopWidth) {
      width: 100%;
    }
  }
  .beforeAfter {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0.5rem;
    a {
      display: flex;
      align-items: center;
      text-decoration-line: none;
      height: 2rem;
      font-size: 1.25rem;
      img {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
    .before .cursor {
      margin-right: 0.5rem;
    }
    .after .cursor {
      margin-left: 0.5rem;
    }
  }
  .charaDetail {
    .head {
      margin: 1.5rem auto 2rem;
      .title {
        color: var(--main-color-strong);
        font-weight: bold;
        font-size: 1.875rem;
        margin: auto 0.5rem;
        height: 2.5rem;
        display: inline-flex;
        align-items: center;
        img {
          font-size: 2.25rem;
          margin-right: 0.5rem;
        }
      }
      .overview {
        color: var(--main-color);
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0.5rem auto;
      }
    }
    .headerImage {
      display: inline-block;
      width: 100%;
    }
    .mainImage {
      display: inline-block;
      max-width: 100%;
      box-sizing: border-box;
      padding: 1rem;
    }
  }
  .edit {
    max-width: 44rem;
    margin: auto;
    padding: 0 0.5rem;
    img.icon {
      width: 96px;
      height: 96px;
    }
    .flex > input {
      margin: 0.125rem;
    }
    * {
      font-size: 1.125rem;
    }
    > * {
      margin: 0.75rem 0;
    }
    input,
    textarea {
      padding: 0.2rem 0.4rem;
    }
    .charaIcon {
      font-size: 2.25rem;
    }
    .flex {
      flex-wrap: wrap;
      > * {
        &.mini {
          width: 8rem;
        }
        .label-l {
          flex: 0.5;
        }
      }
    }
    textarea {
      min-width: -moz-fit-content;
      min-width: fit-content;
      width: 100%;
      &.description {
        min-height: 8rem;
        height: 16rem;
      }
    }
    button.setter {
      display: flex;
      margin: 0.25rem;
      &:not(.color) {
        background-color: transparent;
      }
      &:hover img {
        filter: brightness(0.9);
      }
      svg,
      img {
        margin: 0;
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        font-size: 1.875rem;
      }
    }
    button:not(.normal) {
      padding: 0.4rem 1.2rem;
      display: inline-flex;
      line-height: 1.5rem;
      * {
        font-size: 1.25rem;
      }
      svg {
        height: 1.5rem;
      }
    }
  }
}

iframe {
  max-width: 100%;
  @media (prefers-color-scheme: dark) {
    background: var(--background-color);
  }
}

.modal-background {
  background-color: var(--lightbox-background);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$translucent-button-default-color: rgba(255, 255, 255, 0.7);
$translucent-button-default-bg: rgba(0, 0, 0, 0.1);
$translucent-button-hover-color: rgba(255, 255, 255, 0.8);
$translucent-button-hover-bg: rgba(0, 0, 0, 0.2);
.translucent-button {
  display: flex;
  width: 5em;
  height: 5em;
  margin: 0.75em;
  position: absolute;
  border-radius: 8rem;
  justify-content: center;
  align-items: center;
  color: $translucent-button-default-color;
  background-color: $translucent-button-default-bg;
  transition: color 200ms, background-color 200ms;
  > * {
    width: 100%;
    height: 100%;
  }
  > * {
    width: 70%;
    height: 70%;
  }
  &:hover {
    color: $translucent-button-hover-color;
    background-color: $translucent-button-hover-bg;
  }
}

select.yearFilter {
  font-size: 1.25rem;
  margin: 0.5rem;
  height: 1.5rem;
  min-width: 4rem;
  color: var(--main-color);
  background-color: transparent;
  border: none;

  option {
    color: var(--main-color-dark);
  }
}

%galleryTransition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.galleryLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  &.outLabel {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
  h2 {
    display: inline-block;
    padding: 1rem 0;
    margin: auto;
    color: var(--main-color);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.25rem;
  }
  h4 {
    display: inline-block;
    color: var(--main-color-soft);
    margin: auto;
  }
  .count {
    color: var(--main-color);
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 1rem;
    top: 0;
    right: 0;
  }
  @media (min-width: $tabletWidth) {
    h2 {
      font-size: 1.875rem;
    }
    .count {
      margin-right: 2rem;
    }
  }
}

.galleryContainer {
  width: 100%;
  max-width: 1400px;
  margin-bottom: 1rem;
  @include commonHeader();
  @extend %a-line-none;
  .galleryLabel {
    h2 {
      font-size: 2.5em;
      // line-height: 2.25rem;
    }
  }
  .list {
    margin: auto;
    @extend %userSelectNone;
    @include GridList(4, $tabletWidth);
    column-gap: 0.1rem;
    row-gap: 0.1rem;
    .loadingNow {
      color: var(--main-color-soft);
      margin: 1rem auto;
    }
    .item {
      aspect-ratio: 1;
      overflow: hidden;
      position: relative;
      &,
      & > img,
      svg {
        object-fit: cover;
        top: 0;
        width: 100%;
        height: 100%;
        @extend %galleryTransition;
      }
      .gallery-button-more {
        fill: var(--main-color-soft);
        @extend %galleryTransition;
      }
      .ribbon {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        padding: 0.1rem 0.25rem;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        color: white;
        font-size: 0.5em;
        background-color: rgb(126, 130, 127);
        &.new {
          background-color: rgb(244, 79, 79);
        }
        &.update {
          background-color: rgb(244, 145, 79);
        }
        &.draft {
          background-color: rgb(120, 131, 104);
        }
        @media (min-width: $tabletWidth) {
          font-size: 1em;
        }
      }
      .translucent-special-button {
        @extend .translucent-button;
        background-color: rgb(100 110 88 / 74%);
        max-width: 35%;
        max-height: 35%;
        margin: 0.25rem;
        z-index: 10;
        right: 0;
        bottom: 0;
        pointer-events: none;
        @media (min-width: $tabletWidth) {
          margin: 0.75rem;
        }
      }
      &:hover {
        .translucent-special-button {
          background-color: rgba(86, 104, 63, 0.85);
        }
        img {
          transform: scale(1.03);
          filter: brightness(0.95);
          transition-duration: 150ms;
        }
        .gallery-button-more {
          fill: var(--main-color-pale);
        }
      }
    }
  }
  .dropzone.blank {
    margin: 2rem;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.soundFixed {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 30;
  @extend %userSelectNone;
  > div {
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    > * {
      display: flex;
      svg {
        margin: 0.25rem;
        fill: var(--main-color-soft);
        &:hover {
          fill: var(--main-color-pale);
        }
      }
    }
    .text {
      margin: 0.25rem;
    }
  }
}
.soundPage {
  .title {
    @extend .common-h2;
  }
  .playlist {
    margin: 1.5rem auto;
    .label {
      margin: 1rem auto;
      color: var(--main-color-dark);
      font-size: 1.875rem;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      max-width: 56rem;
      margin: auto;
      .item {
        margin: 0.25rem auto;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        &:hover {
          background-color: var(--main-color-pale-fluo);
        }
        .cursor {
          flex: 1;
          color: var(--main-color-soft);
          svg {
            margin: auto;
            fill: var(--main-color-soft);
          }
        }
        &.paused .cursor svg {
          fill: var(--main-color-pale);
        }
        .name {
          flex: 10;
          padding-right: 0.25rem;
          font-size: 1.25rem;
          color: var(--main-color-deep);
          text-align: left;
          height: 4rem;
          vertical-align: middle;
          display: flex;
          align-items: center;
        }
        .play {
          flex: 2;
          margin-right: 0.25rem;
          fill: var(--main-color-soft);
        }
      }
    }
  }
  @media (min-width: $tabletWidth) {
    .playlist .list .item {
      width: 50%;
    }
  }
}

.label,
.label-s {
  margin-bottom: 0.25rem;
}
.label-l {
  margin-right: 0.5rem;
}
.label-sl {
  margin-right: 0.25rem;
  > * {
    font-size: 1.25em;
  }
}
.label,
.label span,
.label-l {
  &,
  input,
  select,
  button,
  textarea {
    font-size: 1em;
  }
}

#image_viewer {
  $thisMobileWidth: #{$tabletWidth};
  position: fixed;
  z-index: 40;
  .viewer {
    @extend .modal-background;
    // width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      width: 100%;
      position: relative;
      pointer-events: none;
      > * {
        pointer-events: all;
      }
      @media (min-width: $thisMobileWidth) {
        height: 100%;
      }
    }
  }
  .modalClose {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    path {
      opacity: 0.7;
    }
    @media (min-width: $thisMobileWidth) {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.5rem;
    }
  }
  .modal {
    width: 100%;
    max-height: 92vh;
    max-height: 92dvh;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    overflow-y: auto;
    @media (min-width: $thisMobileWidth) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      flex-direction: row;
      overflow-y: auto;
    }
  }
  .preview {
    width: 100%;
    background-color: var(--lightbox-background-preview);
    position: relative;
    .imageArea {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      img {
        object-fit: contain;
      }
    }
    .sketchfab-embed-wrapper iframe {
      min-height: 64vh;
    }
    &:hover .hover-visible {
      color: $translucent-button-default-color;
      background-color: $translucent-button-default-bg;
    }
    .hover-visible {
      color: transparent;
      background-color: transparent;
      &:hover {
        color: $translucent-button-hover-color;
        background-color: $translucent-button-hover-bg;
      }
    }
    .fullscreen {
      top: 0;
      right: 0;
    }
    .open {
      bottom: 0;
      right: 0;
      width: 6rem;
      height: 6rem;
    }
    img,
    iframe {
      max-height: 64vh;
    }
    @media (min-width: $thisMobileWidth) {
      max-height: 100%;
      overflow: hidden;
      img,
      iframe {
        max-height: max-content;
      }
      .open {
        width: 8rem;
        height: 8rem;
      }
    }
  }
  .infoArea {
    background-color: var(--lightbox-background-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $thisMobileWidth) {
      min-width: 30em;
      width: 40vw;
    }
    .info {
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 1;
      .title {
        margin: 2rem 0.25rem 1rem;
        text-align: center;
        color: var(--main-color-deep);
        word-break: break-all;
        font-size: 1.5rem;
      }
      .description {
        font-size: 1.25rem;
        margin: 0 0.5rem;
        p {
          margin: 1rem auto;
          white-space: pre-line;
        }
      }
      .tagList {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        a {
          margin: 0.25rem 0.5rem;
          display: inline-flex;
          align-items: center;
          text-decoration-line: none;
          &.other {
            color: var(--main-color-dark);
            &:hover {
              color: var(--main-color-strong);
            }
          }
        }
      }
      .link {
        font-size: 1.25rem;
        a {
          text-decoration-line: underline;
          font-family: sans-serif;
        }
      }

      .right {
        color: var(--main-color-light-grayish);
        text-align: right;
        margin-top: 1rem;
        & > * {
          margin-right: 1rem;
          margin-bottom: 0.5rem;
        }
        .time {
          margin-right: 1rem;
        }
        .copyright > *:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
      @media (min-width: $thisMobileWidth) {
        text-align: left;
        display: flex;
        overflow-y: auto;
        .title {
          font-size: 1.875rem;
        }
        .description {
          font-size: 1.125rem;
          margin: 0 1rem;
        }
      }
    }
    .paging {
      display: flex;
      flex-shrink: 0;
      margin-bottom: 0;
      width: 100%;
      min-height: 1rem;
      > *:not(.flex-1) {
        height: 4.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &:first-child {
          justify-content: flex-start;
        }
        &:last-child {
          justify-content: flex-end;
        }
      }
      a {
        text-decoration-line: none;
        &.prev .cursor {
          margin-right: 0.5rem;
        }
        &.next .cursor {
          margin-left: 0.5rem;
        }
        &:hover {
          color: var(--main-color-deep);
          background-color: var(--main-color-pale-fluo);
        }
      }
    }
    form.edit {
      text-align: left;
      padding: 0.5rem;
      margin: 0;
      > * {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      label,
      .label {
        display: flex;
        button {
          display: inline-block;
          margin-left: 0.5rem;
          padding: 0 0.5rem;
          color: var(--main-color-strong);
          background-color: transparent;
          border: none;
          font-weight: normal;
          &:hover {
            color: var(--main-color-dark);
          }
        }
      }
      input[type="text"] {
        padding: 0.25rem 0.5rem;
      }
      input,
      select,
      textarea,
      .preview-area {
        display: inline-block;
        border-radius: 0.25rem;
        padding: 0.125rem;
      }
      .wide {
        padding: 0 0.25rem;
        width: 100%;
        > input,
        > textarea,
        > .preview-area {
          display: block;
          width: 100%;
        }
      }
      .description {
        min-height: 8rem;
      }
      @media (min-width: $thisMobileWidth) {
        text-align: left;
        overflow-y: auto;
        .title {
          font-size: 1.25rem;
        }
        textarea.description {
          font-size: 1.125rem;
        }
      }
    }
  }
}

.sketchfab-embed-wrapper {
  iframe {
    width: 100%;
    min-height: 36em;
  }
  #image_viewer & {
    iframe {
      min-height: min-content;
    }
    p {
      display: none;
    }
  }
}

ul {
  .parsed &,
  .default {
    padding-left: 1.25rem;
    li {
      list-style: circle;
    }
  }
}

.aboutPage {
  h3 {
    font-size: 1.75rem;
    color: var(--main-color-dark);
  }
  h4 {
    font-size: 2rem;
    margin: 1rem auto;
    color: var(--main-color);
  }
  h5 {
    font-size: 1.25rem;
    margin: 1rem auto;
    font-family: sans-serif;
    color: var(--main-color-soft);
  }
  img.authorImage {
    height: 20em;
    width: auto;
    max-width: 100%;
  }
  @extend %a-line-none;
}

.changeLog {
  margin: 2rem 0.5rem 1rem;
  h3 {
    margin: 0;
  }
  .list {
    text-align: left;
    margin: auto;
    max-width: 42rem;
  }
  .summary {
    display: flex;
    align-items: flex-start;
    > span:not(.once):hover {
      text-decoration-line: underline;
    }
    span {
      flex: 1;
    }
    .date {
      min-width: 6rem;
    }
    .text {
      margin-left: 0.25rem;
    }
  }
  .yearItem {
    > .summary {
      padding-left: 0.25rem;
      background-color: var(--main-color);
      &,
      svg {
        color: white;
      }
    }
    &:nth-child(even) > .summary {
      background-color: var(--main-color-highlight);
    }
  }
  .monthItem {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    padding: 0;
  }
  .item {
    display: flex;
    margin-left: 0.5rem;
    p {
      margin: 0.25rem 0;
    }
  }
  .date {
    display: inline-flex;
    align-items: center;
    margin: 0.25rem;
    text-align: left;
    svg {
      color: var(--main-color-dark-grayish);
    }
    &.once {
      cursor: initial;
      svg {
        visibility: hidden;
      }
    }
  }
  .body {
    text-align: left;
    flex: 1;
  }
  .readmore {
    color: var(--main-color-dark-grayish);
    margin-left: 0.5rem;
    text-decoration: underline var(--main-color-light-grayish);
  }
  @media (min-width: $tabletWidth) {
    ul li {
      margin: 0 1rem;
    }
    .data {
      margin: 0.25rem 1rem;
    }
  }
}

.h1h4Page {
  text-align: center;
  &.middle {
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    font-size: 1.875rem;
    color: var(--main-color);
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }
  h4 {
    color: var(--main-color-soft);
    font-size: 1.25rem;
    font-weight: bold;
  }
  @media (min-width: $tabletWidth) {
    h1 {
      font-size: 2.25rem;
    }
  }
}

.gridLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    text-decoration-line: none;
    padding: 0.5rem;
    > * {
      margin: 0.25em auto;
    }
    &:hover {
      color: var(--main-color-deep);
      background-color: var(--main-color-pale-fluo);
    }
  }
}

.medium-content {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: var(--main-color-dark);
}

.large {
  font-size: 1.5rem;
  .list {
    display: flex;
    align-items: center;
    &.column {
      flex-direction: column;
    }
    > * {
      margin: 0.25rem;
    }
  }
}

body.workers {
  margin: 2rem;
}
.workers {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > span {
      padding-right: 0.5rem;
    }
  }
  textarea,
  input,
  button {
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
  }
  .inline-block,
  button {
    display: inline-block;
  }
}

.blogPage {
  margin-top: 1.5rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  flex-direction: column;
  .title {
    display: inline-flex;
    text-decoration-line: none;
    h2 {
      font-size: 1.875rem;
    }
  }
  a.feed {
    display: inline-flex;
    font-size: 1.25rem;
    margin-left: 0.75rem;
  }
  .notice {
    h2 {
      margin: 1rem auto;
    }
    h4 {
      margin: 2rem auto;
    }
  }
  .message {
    text-align: center;
    a.next {
      display: inline-block;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }
  }
  .article {
    width: 98%;
    max-width: 60rem;
    text-align: left;
    margin: auto;
  }
  .post {
    margin: 1.5rem 1rem;
    .pinned {
      color: var(--sub-color-soft);
    }
    .header {
      display: flex;
      flex-wrap: wrap;
    }
    .title {
      display: inline-block;
      h1 {
        font-size: 2.25rem;
        color: var(--main-color-deep);
        font-weight: bold;
        margin: 1rem 0.5rem;
        display: inline-block;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: auto 0.5rem;
        display: inline-block;
        color: var(--main-color-dark);
        a {
          color: var(--main-color-dark);
          &:hover {
            color: var(--main-color-strong);
          }
        }
        a {
          text-decoration-line: none;
        }
      }
    }
    .category {
      display: inline-flex;
      align-items: center;
      margin: auto 0.5rem;
      > * {
        margin: auto 0.25rem;
      }
    }
    .footer {
      text-align: right;
      > * {
        margin-left: 0.75rem;
      }
      .status {
        color: var(--main-color-dark-grayish);
      }
      a.status {
        &:hover {
          color: var(--main-color-light-grayish);
        }
      }
    }
  }
  @media (min-width: $tabletWidth) {
    .title h2 {
      font-size: 2.25rem;
    }
    a.feed {
      margin-left: 1rem;
    }
    .article {
      width: 80%;
    }
  }
}

form.blogEdit {
  padding-top: 0.5rem;
  max-width: 48rem !important;
  margin: auto;
  input,
  textarea,
  select,
  button:not(.close) {
    font-size: 1.125rem;
  }
  button {
    padding: 0.25em 1em;
    &.text {
      border-radius: 1rem;
      margin-left: 0.5rem;
    }
  }
  > * {
    padding: 0.5rem 0;
  }
  h1 {
    font-size: 1.875rem;
    color: var(--main-color);
    margin: 1.5rem auto;
  }
  input.title {
    display: block;
    margin: auto;
    font-size: 1.125rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
    width: 25rem;
    max-width: 80%;
  }
  .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    min-width: 20rem;
    width: max-content;
    max-width: 95%;
  }
  .modifier {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      margin: 0 0.5rem;
      &.tight {
        margin: 0 0.25rem;
      }
    }
  }
  .pin {
    width: 3rem;
    text-align: center;
  }
  .date {
    padding: 0.125rem 0.25rem;
  }
  .body {
    margin: auto;
    width: 90%;
    min-height: 20rem;
    padding: 0.5rem;
    text-align: start;
  }
  .action {
    button {
      font-size: 1.25rem;
      margin: 1rem;
    }
  }
  @media (min-width: $tabletWidth) {
    h1 {
      font-size: 2.25rem;
    }
    .modifier > * {
      margin: 0 1rem;
      &.tight {
        margin: 0 0.5rem;
      }
    }
  }
}

.hashtag {
  margin: auto 0.2rem;
}

.linkPage {
  max-width: 20rem;
  font-size: 1.125rem;
  h3 {
    color: var(--main-color-dark);
  }
  > * {
    margin: 1rem auto;
  }
  ul {
    text-align: left;
    width: max-content;
    min-width: 12rem;
    margin: auto;
    li {
      margin: 0.25rem;
      padding: 0;
      display: block;
    }
  }
  .bannerArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    > * {
      margin: 0.5rem 1rem;
    }
  }
}

.stickyLine {
  display: inline-block;
  color: var(--main-color-text);
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: var(--main-color-pale);
  border-left: solid 0.75rem var(--main-color-strong);
  @at-root a#{&} {
    &:hover {
      color: white;
      background: var(--main-color-soft);
    }
  }
}

.stitch {
  display: inline-block;
  color: var(--main-color-text);
  background: var(--main-color-pale);
  box-shadow: 0px 0px 0px 5px var(--main-color-pale);
  border: dashed 1px var(--main-color-deep);
  padding: 0.2em 0.5em;
}

.leaf {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  color: var(--main-color);
  padding: 10px 0;
  text-align: center;
  margin: 1.5rem 0;
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    width: 150px;
    height: 58px;
    border-radius: 50%;
    border: 5px solid var(--main-color-soft);
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@import "react-toastify/dist/ReactToastify.css";

.Toastify__toast--default {
  .Toastify__close-button {
    color: var(--main-color-dark-grayish);
  }
}
